<!DOCTYPE html>
<html lang="en">

<head>
	<title>Giant Denver Apparel Survey</title>
	<meta charset="utf-8" />
        {% load staticfiles %}
    <link rel='shortcut icon' href="{% static 'images/favicon.ico' %}" type='image/x-icon'/>
    <link rel='stylesheet' href="{% static 'css/giant-theme.css'%}" type='text/css'/>
</head>

<div style="background: #cbcbcb">
    <header>
		<div id="custom-logo">
        	<a href="http://www.giantdenver.com/en-us/">
            	<img src="{% static 'images/Logo_giantcyclingworlddenver.png' %}">
        	</a>
		</div>
		<div id="menu-and-search">
			<p style="color:#FFFFFF"; >APPAREL SURVEY</p>
		</div>
    </header>
	<div id="main" class="main-store-home">
		<div class="left">
	   {% block content %}
	   {% endblock %}
   		</div>
	</div>
</div>

</html>
